.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212121;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

.App-body{
  background-color: #212121;
  flex-direction: column;
  display: flex;
  min-height: 75vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------------ TABLE ------------- */

.tableRow{
  background-color: #212121;
  border-bottom: 1px solid #ffff;
  transition: 0.3s; 
}

tbody .tableRow:hover{
  background-color: #535353;
}

table{
  border-collapse: collapse;
  width: 100%;
  color: white;
  
}

td,td{
  padding: 12px 15px;
  color: white;
}

.trackInfo {
  text-align: left;
}

/* Image grow when hovering a tablerow  */


.image{
  transition: 0.3s;
}

.tableRow:hover .image{
  transform:scale(2.5);

}




/*------------------ Button ------------- */

.btn{
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #121212;
  color: white;
}


/*         Dropdown                  */
.wrapper{
  padding-bottom: 25px;
  padding-top: 10px;
  
}

.menu select{
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #121212;
  
}
